asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
py-mini-racer==0.1.15
pycparser==2.19
pyOpenSSL==18.0.0
requests==2.20.1
six==1.11.0
sqreen==1.13.4
urllib3==1.24.1
websocket-client==0.54.0
Werkzeug==0.14.1
